//====================================================================================================
.header {
   // @include adaptiveValue("padding-top", 56, 30);
   // @include adaptiveValue("padding-bottom", 36, 30);
   // color: #fff;
   // .header__container
   &__container {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
   }
   // .header__logo
   &__logo {
      // max-width: rem(101);
      // font-weight: 700;
      // font-size: rem(18);
      // line-height: 112.52%; /* 19/16 */
      // // margin-right: rem(237);
      // // padding-right: rem(237);
      // @include adaptiveValue("padding-right", 237, 15);
   }
   // .header__menu
   &__menu {
      // justify-content: center;
      // padding-right: rem(164);
   }
   // .header__button
   &__button {
      // padding-left: rem(84);
      // @include adaptiveValue("padding-left", 84, 0);
   }
   // .header__btn
   &__btn {
      // font-weight: 600;
      // font-size: rem(16);
      // line-height: 118.75%; /* 19/16 */
      // text-align: center;
      // padding: rem(14) rem(45);
      // @include adaptiveValue("padding-left", 45, 0);
      // @include adaptiveValue("padding-right", 45, 0);
      // border: rem(2) solid #fff;
      // margin-left: rem(164);
      // @include adaptiveValue("margin-left", 164, 10);
   }
}

.menu {
   // .menu__body
   &__body {
      // display: flex;
      // max-width: rem(464);
      // gap: rem(44);
   }
   // .menu__list
   &__list {
      // display: flex;
      // flex-wrap: wrap;
      // max-width: rem(464);
      // // column-gap: rem(44);
      // @include adaptiveValue("column-gap", 44, 15);
      // row-gap: rem(10);
   }
   // .menu__item
   &__item {
   }
   // .menu__link
   &__link {
      // font-weight: 500;
      // font-size: rem(16);
      // line-height: 118.75%; /* 19/16 */
      // text-align: center;
   }
}
/* *********************************** */
.header {
   @include adaptiveValue("padding-top", 56, 30);
   @include adaptiveValue("padding-bottom", 36, 30);
   color: #fff;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 50;
   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      @include adaptiveValue("height", 120, 90);
      background-color: #121212;
      z-index: 2;
   }
   // .header__container
   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   // .header__logo
   &__logo {
      max-width: rem(101);
      font-weight: 700;
      font-size: rem(18);
      line-height: 112.52%; /* 19/16 */
      @include adaptiveValue("padding-right", 237, 15);
      z-index: 5;
   }
   // .header__menu
   &__menu {
      justify-content: center;
   }
   // .header__button
   &__button {
      @include adaptiveValue("padding-left", 84, -30);
      z-index: 5;
      @media (max-width: $mobile) {
         display: none;
      }
   }
   // .header__btn
   &__btn {
      font-weight: 600;
      font-size: rem(16);
      line-height: 118.75%; /* 19/16 */
      text-align: center;
      padding: rem(14) rem(45);
      @include adaptiveValue("padding-left", 45, 0);
      @include adaptiveValue("padding-right", 45, 0);
      border: rem(2) solid #fff;
      z-index: 5;
      transition: background 0.3s ease;
      &:hover {
         background-color: #ff7500;
      }
   }
}

.menu {
   // .menu__body
   &__body {
      position: relative;
      z-index: 5;
   }
   // .menu__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      max-width: rem(464);
      @include adaptiveValue("column-gap", 44, 15);
      row-gap: rem(10);
   }
   // .menu__item
   &__item {
   }
   // .menu__link
   &__link {
      font-weight: 500;
      font-size: rem(16);
      line-height: 118.75%; /* 19/16 */
      display: inline-block;
      position: relative;
      &::after {
         position: absolute;
         content: "";
         height: rem(1.5);
         background-color: #ff7500;
         bottom: rem(-1.5);
         left: 50%;
         width: 0;
         transition: all 0.3s;
      }
      &:hover::after {
         left: 0;
         width: 100%;
      }
   }
   // .menu__icon
   &__icon {
   }
}
/* --------------------------------- */
.icon-menu {
   display: none;
   // .icon-menu__line
   &__line {
   }
}

@media (max-width: $mobile) {
   .menu__body {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      transition: left 0.3s;
      // background-color: #262c37;
      background-color: #121212;
      padding: rem(170) rem(30) rem(20) rem(50);
      overflow: auto;
      z-index: 1;
   }

   .menu-open .menu__body {
      left: 0;
   }

   .menu__list {
      flex-direction: column;
      gap: rem(35);
   }

   .menu__link {
      font-size: rem(30);
   }

   .icon-menu {
      display: block;
      position: relative;
      z-index: 5;
      width: rem(30);
      height: rem(18);
   }

   /* Гамбургер */
   .icon-menu__line,
   .icon-menu::before,
   .icon-menu::after {
      content: "";
      position: absolute;
      background-color: #fff;
      height: rem(2);
      width: 100%;
      left: 0;
      transition: all 0.3s;
   }

   /* верхняя линия */
   .icon-menu::before {
      top: 0;
   }

   /* нижняя линия */
   .icon-menu::after {
      bottom: 0;
   }

   /* средняя линия */
   .icon-menu__line {
      top: calc(50% - 0.0625rem);
   }

   .menu-open .icon-menu::before {
      top: calc(50% - rem(1));
      transform: rotate(-45deg);
   }

   .menu-open .icon-menu::after {
      bottom: calc(50% - rem(1));
      transform: rotate(45deg);
   }

   .menu-open .icon-menu__line {
      left: 50%;
      width: 0;
   }
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
