.page {
   // .page__about
   &__about {
   }
   // .page__contact
   &__contact {
   }
}
//========================================================================================================================================================

//====================================================================================================
.about {
   // .about__container
   &__container {
      @media (min-width: $mobile) {
         min-height: 100%;
         display: flex;
      }
   }
   // .about__content
   &__content {
      flex: 0 1 50%;
      align-self: center;
      @include adaptiveValue("padding-top", 150, 30);
      @include adaptiveValue("padding-bottom", 150, 30);
      @media (max-width: $mobile) {
         @include adaptiveValue("padding-bottom", 80, 30);
      }
   }
   // .about__image
   &__image {
      flex: 0 1 50%;
      position: relative;
      img {
         width: 100%;
      }
      @media (min-width: $mobile) {
         @include adaptiveValue("right", -130, -15);
         img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
         }
      }
   }
}

.section-header {
   color: $textWhite;
   // .section-header__label
   &__label {
      position: relative;
      font-weight: 700;
      @include adaptiveValue("font-size", 45, 30);
      line-height: 133.02%;
      color: $textWhite;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 60, 40);
      }
      &::after {
         content: "";
         position: absolute;
         bottom: rem(-16);
         @include adaptiveValue("width", 174, 120);
         left: 0;
         height: rem(4); /* 2 px */
         background: #ff7500;
         border-radius: rem(3.5);
      }
   }
   // .section-header__text
   &__text {
      font-weight: 500;
      @include adaptiveValue("font-size", 18, 14);
      line-height: 162.52%;
      color: $textWhite;
      opacity: 0.3;
      max-width: rem(377);
      & p {
         &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 26, 12);
         }
      }
      @include adaptiveValue("margin-bottom", 36, 25);
   }
   &__btn {
      display: inline-block;
      font-weight: 500;
      font-size: rem(16);
      line-height: 162.52%;
      color: $textWhite;
      padding: rem(14) rem(46);
      background: #ff7500;
      border-radius: 27px;
   }
}

//====================================================================================================

//========================================================================================================================================================
.contact {
   background: #121212;
   // .contact__container
   &__container {
      @media (max-width: $mobile) {
         // color: $textWhite;
      }
   }
   // .contact__inner
   &__inner {
      color: $textWhite;
      @include adaptiveValue("padding-top", 59, 20);
      @include adaptiveValue("padding-bottom", 28, 15);
      border-bottom: 1.8px solid rgba(255, 255, 255, 0.1);
      display: flex;
      justify-content: space-between;
      @media (max-width: $mobile) {
         padding-top: 0;
         max-width: rem(345);
         margin: 0 auto;
      }
   }
   // .contact__item
   &__item {
      @include adaptiveValue("padding-top", 40, 20);
      &_right {
         text-align: right;
      }
   }
   // .contact__nav
   &__nav {
   }
   // .contact__link
   &__link {
      @include adaptiveValue("font-size", 16, 14);
      line-height: 162.52%;
      position: relative;
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 50%;
         width: 0;
         height: 2px; /* 2 px */
         transition: all 0.3s ease;
         background-color: $textWhite;
      }
      &.active::after,
      &:hover:after {
         width: 100%;
         left: 0;
      }
      // .contact__link_title
      &_title {
         font-weight: 600;
         @include adaptiveValue("font-size", 22, 18);
         line-height: 162.52%;
         margin-bottom: rem(22);
      }
   }
   // .contact__forms
   &__forms {
      @media (max-width: $mobile) {
         margin: 0 auto;
         color: $textWhite;
         @include adaptiveValue("padding-top", 59, 20);
      }
   }
}

.forms-contact {
   max-width: rem(345);
   // .forms-contact__title
   &__title {
      font-weight: 600;
      @include adaptiveValue("font-size", 28, 22);
      line-height: 162.52%;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: rem(6);
   }
   // .forms-contact__text
   &__text {
      font-weight: 500;
      @include adaptiveValue("font-size", 16, 14);
      line-height: 162.52%;
      opacity: 0.3;
      text-align: center;
      // max-width: rem(335);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 28, 14);
      }
   }
}

.form {
   position: relative;
   text-align: center;
   border: 1.5px solid #ffffff;
   border-radius: 6px;
   height: rem(54);
   display: flex;
   // .form__input
   &__input {
      box-sizing: border-box;
      font-weight: 600;
      font-size: rem(12);
      color: $textWhite;
      line-height: 135.3%;
      width: 100%;
      padding: rem(17.5) rem(110) rem(17.5) rem(20);
      background: rgba(166, 166, 166, 0.05);
      &::placeholder {
         font-weight: 500;
         opacity: 0.3;
      }
   }
   // .form__btn
   &__btn {
      box-sizing: border-box;
      display: inline-block;
      padding: rem(19) rem(25) rem(19) rem(24);
      background: #ff6b00;
      border-radius: 6px;
      position: absolute;
      top: -1.5px;
      right: -1.5px;
   }
}
