.page {
   // .page__section
   &__service {
   }
   // .page__room
   &__room {
   }
   // .page__about
   &__about {
   }
   // .page__interior
   &__interior {
   }
   // .page__contact
   &__contact {
   }
}
//========================================================================================================================================================
//========================================================================================================================================================

.service {
   @include adaptiveValue("padding-top", 70, 30);
   @include adaptiveValue("padding-bottom", 50, 20);
   background: #d4dcf9;
   // .serviceservice__info
   &__info {
      display: flex;
      flex-direction: column;
      max-width: rem(475);
      margin: 0 auto;
      text-align: center;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 83, 20);
      }
   }
   // .service__container
   &__container {
      background: #edd4f9;
      @media (min-width: $mobile) {
         min-height: 100%;
         display: flex;
         align-items: center;
      }
   }
   // .service__services
   &__services {
      flex: 0 1 50%;
   }
   // .service__pictures
   &__pictures {
   }
}
/* ------------------------------------ */
.pictures {
   position: relative;
   max-width: rem(570);
   // .pictures__image-big
   &__image-big {
      border-left: 25px solid #d9d9da;
      max-width: rem(570);
      width: 100%;
      img {
         // max-width: 100%;
      }
      @media (min-width: $mobile) {
         flex: 0 1 50%;
         position: relative;
         max-width: rem(570);
         width: 100%;
         @include adaptiveValue("right", -279, -15);
         img {
            width: 100%;
            //width: 84.561404%; /* 482/570 */
         }
      }
      @media (max-width: $mobile) {
         flex: 0 1 100%;
         max-width: rem(370);
         position: relative;
         @include adaptiveValue("right", -520, -20);
         img {
            width: 100%;
            object-fit: cover;
         }
      }
   }
   // .pictures__image-small
   &__image-small {
      position: relative;
      @media (max-width: $mobile) {
         flex: 0 1 100%;
         max-width: rem(370);
         position: absolute;
         padding-left: rem(15);
         @include adaptiveValue("right", -420, 15);
         height: auto;
         left: 0%;
         top: 50%;
         transform: translate(-50%, -50%);
         object-fit: cover;
         img {
            width: 100%;
            object-fit: cover;
         }
      }
      @media (min-width: $mobile) {
         flex-basis: rem(439);
         position: absolute;
         width: 100%;
         height: auto;
         left: 0%;
         top: 50%;
         transform: translate(-50%, -50%);
         object-fit: cover;
         img {
            width: 100%;
            max-width: 439px; /* 439/482 */
            padding-left: rem(25);
         }
      }
   }
}
/* ------------------------------------ */
.services {
   padding-top: rem(17);
   @include adaptiveValue("padding-bottom", 50, 20);
   // .services__item
   &__item {
      background: #e4f9d4;
      max-width: rem(477);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 60, 20);
      }
      @media (max-width: $mobile) {
         max-width: rem(740);
      }
   }
   // .services__body
   &__body {
   }
   // .services__value
   &__value {
      width: rem(50);
      height: rem(50);
      border-radius: 50%;
      color: #ffffff;
      font-weight: 600;
      font-size: rem(24);
      line-height: 200%;
      background-color: #ff7500;
      text-align: center;
      &:not(:last-child) {
         margin-bottom: rem(14);
      }
   }
   // .services__title
   &__title {
      font-weight: 700;
      font-size: rem(24);
      line-height: 133.02%;
      &:not(:last-child) {
         margin-bottom: rem(14);
      }
   }
   // .services__text
   &__text {
      font-weight: 500;
      font-size: rem(16);
      line-height: 175.52%;
      opacity: 0.3;
   }
}

.info {
   // .info__title
   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 18, 12);
      }
   }
   // .info__text
   &__text {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 45, 20);
      }
   }
}

//========================================================================================================================================================

.room {
   background: #ffffff;
   text-align: center;
   // .room__container
   &__container {
      @include adaptiveValue("padding-top", 65, 30);
      @include adaptiveValue("padding-bottom", 100, 10);
   }
   &__info {
      display: flex;
      flex-direction: column;
      max-width: rem(475);
      margin: 0 auto;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 45, 20);
      }
   }
   // .room__row-images
   &__row-images {
      @media (min-width: $mobile) {
         display: flex;
         @include adaptiveValue("column-gap", 40, 5);
      }
   }
   // .room__column-images
   &__column-images {
      @media (min-width: $mobile) {
         flex: 0 1 28.07%;
         margin-bottom: rem(40);
      }
   }
   // .room__column-images-big
   &__column-images-big {
      @media (min-width: $mobile) {
         flex: 0 1 36.84%;
      }
   }
   // .room__card-image
   &__card-image {
      display: flex;
      flex-direction: column;
      @include adaptiveValue("margin-bottom", 32, 20);
   }
   // .room__image
   &__image-ibg {
      padding-bottom: 69.375%;
      &_big {
         padding-bottom: 130.476%;
         @media (max-width: rem(1100)) {
            padding-bottom: 132%;
         }
         @media (max-width: $tablet) {
            padding-bottom: 134%;
         }
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      &:not(:last-child) {
         margin-bottom: rem(18);
      }
   }
   // .room__guest
   &__guest {
      font-weight: 500;
      @include adaptiveValue("font-size", 14, 12);
      line-height: 133.02%;
      color: $mainColor;
      opacity: 0.6;
      text-align: left;
      &:not(:last-child) {
         margin-bottom: rem(6);
      }
   }
   // .room__name
   &__name {
      font-weight: 600;
      @include adaptiveValue("font-size", 22, 18);
      line-height: 133.02%;
      color: $mainColor;
      text-align: left;
   }
}

.info {
   // .info__subtitle
   &__subtitle {
      font-weight: 700;
      font-size: rem(24);
      @include adaptiveValue("font-size", 24, 18);
      line-height: 133.02%;
      color: $mainColor;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 16, 10);
      }
   }
   // .info__title
   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 18, 12);
      }
   }
   // .info__text
   &__text {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 45, 20);
      }
   }
}

//====================================================================================================
.about {
   // .about__container
   &__container {
      @media (min-width: $mobile) {
         min-height: 100%;
         display: flex;
      }
   }
   // .about__content
   &__content {
      flex: 0 1 50%;
      align-self: center;
      @include adaptiveValue("padding-top", 150, 30);
      @include adaptiveValue("padding-bottom", 150, 30);
      @media (max-width: $mobile) {
         @include adaptiveValue("padding-bottom", 80, 30);
      }
   }
   // .about__image
   &__image {
      flex: 0 1 50%;
      position: relative;
      img {
         width: 100%;
      }
      @media (min-width: $mobile) {
         @include adaptiveValue("right", -130, -15);
         img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
         }
      }
   }
}

.section-header {
   color: $textWhite;
   // .section-header__label
   &__title {
      position: relative;
      font-weight: 700;
      @include adaptiveValue("font-size", 45, 30);
      line-height: 133.02%;
      color: $textWhite;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 60, 40);
      }
      &::after {
         content: "";
         position: absolute;
         bottom: rem(-16);
         @include adaptiveValue("width", 174, 120);
         left: 0;
         height: rem(4); /* 2 px */
         background: #ff7500;
         border-radius: rem(2);
      }
   }
   // .section-header__text
   &__text {
      font-weight: 500;
      @include adaptiveValue("font-size", 18, 14);
      line-height: 162.52%;
      color: $textWhite;
      opacity: 0.3;
      max-width: rem(377);
      & p {
         &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 26, 12);
         }
      }
      @include adaptiveValue("margin-bottom", 36, 25);
   }
   &__btn {
      display: inline-block;
      font-weight: 500;
      font-size: rem(16);
      line-height: 162.52%;
      color: $textWhite;
      padding: rem(14) rem(46);
      background: #ff7500;
      border-radius: 27px;
      transition: background 0.3s ease;
      &:hover {
         background: #d86601;
      }
   }
}
//====================================================================================================
//========================================================================================================================================================

.interior {
   background: #ffffff;
   @include adaptiveValue("padding-bottom", 60, 40);
   // .interior__container
   &__container {
      position: relative;
      @media (min-width: $mobile) {
         min-height: 100%;
      }
   }
   // .interior__content
   &__content {
      flex-basis: 30.614035%; /* 349/1140 */
   }
   // .interior__services
   &__services {
      flex-basis: 62.982456%; /* 718/1140 */
   }
}

.content-interior {
   @media (min-width: $tablet) {
      @include adaptiveValue("padding-top", 220, 100);
      @include adaptiveValue("padding-bottom", 105, 80);
      width: 30.614035%; /* 349/1140 */
   }
   @include adaptiveValue("padding-top", 50, 30);
   @include adaptiveValue("padding-bottom", 20, 20);
   max-width: rem(718);
   width: 100%;
   @media (max-width: $tablet) {
      margin: 0 auto;
   }
   // .content-interior__title
   &__title {
      font-weight: 700;
      font-size: rem(32);
      line-height: 133%;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 28, 10);
      }
   }
   // .content-interior__rating
   &__rating {
      position: relative;
      font-size: rem(30); /*можно изменять размер звездочек*/
      display: inline-block;
      &::before {
         content: "★★★★★";
         display: block;
         color: #ffd300;
      }
      &:not(:last-child) {
         margin-bottom: rem(8);
      }
   }
   // .content-interior__rating-text
   &__rating-text {
      font-weight: 500;
      font-size: rem(18);
      line-height: 162.52%;
      opacity: 0.6;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 80, 10);
      }
      @media (max-width: $tablet) {
         &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
         }
      }
   }
   // .content-interior__users
   &__users {
      display: flex;
      padding-left: rem(15);
      &:not(:last-child) {
         margin-bottom: rem(21);
      }
   }
   // .content-interior__user
   &__user {
   }
   // .content-interior__image
   &__image {
      width: rem(57);
      height: rem(57);
      border-radius: 50%;
      margin-left: rem(-15);
      img {
         width: 100%;
         height: 100%;
         border-radius: 50%;
         object-fit: cover;
      }
   }
   // .content-interior__users-commit
   &__users-commit {
      max-width: rem(262);
      font-weight: 500;
      font-size: rem(18);
      line-height: 162.52%;
      opacity: 0.6;
   }
}

.services-interior {
   @media (min-width: $tablet) {
      position: absolute;
      top: rem(-46);
      @include adaptiveValue("right", -24, 45);
      width: 62.982456%; /* 718/1140 */
   }
   max-width: rem(718);
   margin: 0 auto;
   // .services-interior__row
   &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 rem(-20);
      margin-bottom: rem(-40);
   }
   // .services-interior__column
   &__column {
      flex: 0 1 50%;
      padding: 0 rem(20);
      @media (max-width: $mobile) {
         flex: 0 1 100%;
      }
   }
   // .services-interior__card
   &__card {
      margin-bottom: rem(40);
      max-width: rem(339);
      background: #ffffff;
      box-shadow: rem(-14) rem(24) rem(68) rem(-16) rgba(0, 0, 0, 0.12);
      padding: rem(41) rem(20) rem(42) rem(26);
      @media (max-width: $mobile) {
         max-width: rem(718);
         padding: rem(25) rem(20) rem(25) rem(26);
         margin-bottom: rem(20);
      }
   }
   // .services-interior__icon
   &__icon {
      &:not(:last-child) {
         margin-bottom: rem(15);
      }
      width: rem(56);
      height: rem(56);
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   // .services-interior__title
   &__title {
      font-weight: 600;
      font-size: rem(22);
      line-height: 120.02%;
      text-transform: uppercase;
      flex: 1 1 auto; /*тексту  позволяем все действия*/
      &:not(:last-child) {
         margin-bottom: rem(14);
      }
   }
   // .services-interior__text
   &__text {
      font-weight: 500;
      font-size: rem(14);
      line-height: 162.52%;
      opacity: 0.3;
   }
}

//========================================================================================================================================================
.contact {
   background: #121212;
   // .contact__container
   &__container {
   }
   // .contact__inner
   &__inner {
      color: $textWhite;
      @include adaptiveValue("padding-top", 59, 20);
      @include adaptiveValue("padding-bottom", 28, 15);
      border-bottom: 1.8px solid rgba(255, 255, 255, 0.1);
      display: flex;
      justify-content: space-between;
      @media (max-width: $mobile) {
         padding-top: 0;
         max-width: rem(345);
         margin: 0 auto;
      }
   }
   // .contact__item
   &__item {
      @include adaptiveValue("padding-top", 40, 20);
      &_right {
         text-align: right;
      }
   }
   // .contact__nav
   &__nav {
   }
   // .contact__link
   &__link {
      @include adaptiveValue("font-size", 16, 14);
      line-height: 162.52%;
      position: relative;
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         left: 50%;
         width: 0;
         height: 2px; /* 2 px */
         transition: all 0.3s ease;
         background-color: $textWhite;
      }
      &.active::after,
      &:hover:after {
         width: 100%;
         left: 0;
      }
      // .contact__link_title
      &_title {
         font-weight: 600;
         @include adaptiveValue("font-size", 22, 18);
         line-height: 162.52%;
         margin-bottom: rem(22);
      }
   }
   // .contact__forms
   &__forms {
      @media (max-width: $mobile) {
         margin: 0 auto;
         color: $textWhite;
         @include adaptiveValue("padding-top", 59, 20);
      }
   }
}

.forms-contact {
   max-width: rem(345);
   // .forms-contact__title
   &__title {
      font-weight: 600;
      @include adaptiveValue("font-size", 28, 22);
      line-height: 162.52%;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: rem(6);
   }
   // .forms-contact__text
   &__text {
      font-weight: 500;
      @include adaptiveValue("font-size", 16, 14);
      line-height: 162.52%;
      opacity: 0.3;
      text-align: center;
      // max-width: rem(335);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 28, 14);
      }
   }
}

.form {
   position: relative;
   text-align: center;
   border: 1.5px solid #ffffff;
   border-radius: 6px;
   height: rem(54);
   display: flex;
   // .form__input
   &__input {
      box-sizing: border-box;
      font-weight: 600;
      font-size: rem(12);
      color: $textWhite;
      line-height: 135.3%;
      width: 100%;
      padding: rem(17.5) rem(110) rem(17.5) rem(20);
      background: rgba(166, 166, 166, 0.05);
      &::placeholder {
         font-weight: 500;
         opacity: 0.3;
      }
   }
   // .form__btn
   &__btn {
      box-sizing: border-box;
      display: inline-block;
      padding: rem(19) rem(25) rem(19) rem(24);
      background: #ff6b00;
      border-radius: 6px;
      position: absolute;
      top: -1.5px;
      right: -1.5px;
   }
}
